%clear-fix {
    content: '';
    clear: both;
    display: table;
    // Fixing problem with float
}
@mixin size($width: 100vw, $height: $width) {
    width: $width;
    height: $height;
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
@mixin clearfix {
    &::after {
        @extend %clear-fix;
    }
}
