.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, $alpha: 0.1);
    background-color: rgba($color-white, 0.6);
    border-radius: $border-radius;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;

    transform: skewX(-12deg);

    @include respond() {
        transform: skewX(0deg);
    }

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    &__shape {
        @include size(15rem);
        float: left;

        border-radius: 100%;

        overflow: hidden;
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            // shape-outside: only work with height,width,float; Define how the content float around (in this case is texts)
            border-radius: 0;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all 0.5s;
        // Fix most cases related to transform and animations
    }
    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0deg);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__img {
        filter: blur(3px) brightness(80%);
        transform: translateX(-4rem) scale(1);
    }
}
