.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-feature {
    padding: 20rem 0;
    background-size: cover;
    background-image: linear-gradient(
            to right,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url(../img/nat-4.jpg);
    transform: skewY(-7deg);
    margin-top: -10rem;
    & > * {
        transform: skewY(7deg);
    }
    // Select all children
}

.section-tours {
    margin-top: -10rem;
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem;
}
